# Dependencies
node_modules
npm-debug.log*

# Next.js build output
.next
out

# Development files
.git
.gitignore
*.md
.env*.local

# IDE
.vscode
.idea

# Testing
coverage

# Docker
Dockerfile
docker-compose*.yml

# Sample data
sampledata

# Misc
.DS_Store
*.pem
Thumbs.db
